//:host {
//  background-color: rgba(255, 255, 255, .5);
//  border-radius: 1rem;
//  border: 1px solid rgba(240, 240, 240, 0.25);
//  box-shadow: 0 0 .5rem .1rem rgba(200, 200, 200, 0.05);
//  padding: 2rem;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//}


:host {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);

  .window {
    border-radius: 1rem;

    .header {
      display: inline-flex;
      background-color: rgba(100, 100, 100, 1);
      height: 2rem;
      width: 100%;
    }

    .content {
      padding: 1rem;
    }
  }


}
