@use '../../../../../public/styles/index' as *;

:host {
  border-radius: $space-lg;
  box-shadow: 0 0 $size-sm 0 rgba(200, 200, 200, 0.5);
  min-width: 10rem;
  min-height: 10rem;
  padding: $space-xl;
  margin: $space-lg;
}
