:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .block {
    cursor: pointer;
    border: 4px solid transparent;

    &:hover, &.active {
      box-shadow: inset 0 0 8px rgba(125, 125, 125, .1), 0 0 8px rgba(125, 125, 125, .1);
      border: 4px solid #FFCEA8;
    }
  }

  h2, h3, p {
    margin: 0 0 .25rem 0;
    align-self: flex-start;

    &:last-child {
      margin: 0;
    }
  }
}
