@if (windowState$ | async; as windowStates) {
  <div class="el no-bg" (click)="onAppClick('home')">
    <img src="assets/icons/home-2-svgrepo-com.svg" alt="Home">
    @if (windowStates['home'] && windowStates['home']?.status !== 'closed') {
      <div class="active-dot"></div>
    }
  </div>
  <!--<div class="el no-bg" (click)="onAppClick('user')">-->
    <!--    <img src="assets/icons/user-svgrepo-com.svg" alt="Me">-->
    <!--  @if (windowStates['user'] && windowStates['user']?.status !== 'closed') {-->
    <!--    <div class="active-dot"></div>-->
    <!--}</div>-->
  <div class="el no-bg" (click)="onAppClick('experiences')">
    <img src="assets/icons/book-svgrepo-com.svg" alt="Experiences">
    @if (windowStates['experiences'] && windowStates['experiences']?.status !== 'closed') {
      <div class="active-dot"></div>
    }
  </div>
  <div class="el no-bg" (click)="onAppClick('projects')">
    <img src="assets/icons/code-square-svgrepo-com.svg" alt="Projects">
    @if (windowStates['projects'] && windowStates['projects']?.status !== 'closed') {
      <div class="active-dot"></div>
    }
  </div>
  <div class="el no-bg" (click)="onAppClick('contact')">
    <img src="assets/icons/chat-round-dots-svgrepo-com.svg" alt="Contact">
    @if (windowStates['contact'] && windowStates['contact']?.status !== 'closed') {
      <div class="active-dot"></div>
    }
  </div>
  <div class="divider"></div>
  <div class="el"><img src="assets/icons/github-svgrepo-com.svg" alt="Github"></div>
  <div class="el"><img src="assets/icons/linkedin-svgrepo-com.svg" alt="LinkedIn"></div>
  <div class="el"><img src="assets/icons/gmail-svgrepo-com.svg" alt="Gmail"></div>
}
