:host {
  .window {
    height: inherit;
    width: inherit;
    min-height: 50%;
    min-width: 30%;
    border-radius: 1rem;
    z-index: 1000;
    background: rgba(255, 255, 255, .95);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 1.5rem rgba(100, 100, 100, 0.5);

    .header {
      border-radius: 1rem 1rem 0 0;
      height: 2rem;
      width: 100%;
      background: rgba(100, 100, 100, .9);
      cursor: pointer;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;

      .window-action {
        height: 1rem;
        width: 1rem;
        margin-right: .5rem;
        border-radius: 100%;
        border: 1px solid transparent;

        &:first-child {
          margin-left: 1rem;
        }

        &.red {
          background-color: #FF605C;
        }

        &.orange {
          background-color: #FFBD44;
        }

        &.green {
          background-color: #00CA4E;
        }

        &:hover {
          border: 1px solid #53676C;
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100% - 2rem);
      overflow-y: scroll;
    }
  }
}
