:host {
  justify-content: flex-end;

  section {
    margin: 5rem;
    z-index: 1;

    article {
      display: inline-flex;
      font-family: Consolas;

      h1 {
        font-size: 15rem;
        margin-bottom: 1rem;

        .tild {
          color: #ff920a;
          margin-right: 1rem;
        }
      }

      .blink {
        display: flex;
        align-items: flex-end;
        background: rgba(255, 255, 255, 0.75);
        width: 1ch;
        margin-left: 2rem;
        margin-top: auto;
        margin-bottom: 2rem;
        height: 18rem;
        animation: blink step-end 1.5s infinite;
      }

    }

    h3 {
      font-size: 3rem;
      font-weight: 200;

      .name {
        color: #5a9c39
      }

      .skill {
        color: #9c35c3
      }
    }
  }
}
