<app-listing-window
  [class.fullscreen]="isFullscreen"
  [class.reduced]="isReduced"
  [class.destroyed]="!isVisible"
  (closeEvent)="onClose()"
  (fullscreenEvent)="onFullscreen($event)"
  (reduceEvent)="onReduce()">
  >
  <ng-container item>
    <h2>experience().name</h2>
    <h3>experience().company&nbsp;<span>MM/yyyy - MM/yyyy</span>
    </h3>
    <p>localisation.city,localisation.state - country</p>
  </ng-container>

  <ng-container details>
    <!--    <section>-->
    <!--      <h3>Actions</h3>-->
    <!--      <ul>-->
    <!--        @for (action of experience().actions; track $index) {-->
    <!--          <li>-->
    <!--            {{ action }}-->
    <!--          </li>-->
    <!--        }-->
    <!--      </ul>-->

    <!--    </section>-->
    <!--    <section>-->
    <!--      <h3>Technos</h3>-->
    <!--      <article class="badgeList">-->
    <!--        @for (techno of experience().skills; track $index) {-->
    <!--          <app-badge></app-badge>-->
    <!--        }-->
    <!--      </article>-->
    <!--    </section>-->
  </ng-container>
</app-listing-window>
