:host {
  app-listing-window {
    height: 100%;
    width: 100%;
    transition: all .3s ease;

    &.fullscreen {
      height: 100% !important;
      width: 100% !important;
    }

    &.reduced {
      visibility: hidden;
    }

    &.destroyed {
      display: none;
    }
  }
}
