<section>
  <h1>Experiences</h1>

  <div>
    <article class="experiences">
      @for (experience of mockData; track $index) {
        <app-experience-label [active]="isActive() === $index" [experience]="experience"
                              (click)="onSelection($index)"></app-experience-label>
      }
    </article>
    <article>
      @if (activeExperience()) {
        <app-experience-resume [experience]="activeExperience()"></app-experience-resume>
      }
    </article>
  </div>
</section>
