:host {
  section {
    margin: 5rem;

    div {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;

      article {
        display: flex;
        flex-direction: column;
        width: 48%;
        border: 2px solid grey;
        border-radius: 8px;

        app-experience-label, app-experience-resume {
        }
      }


    }
  }
}
