@use '../../../styles/index' as *;

:host {
  .window {
    height: inherit;
    width: inherit;
    min-height: 50%;
    min-width: 30%;
    max-height: 100%;
    max-width: 100%;
    border-radius: $radius-md;
    z-index: inherit;
    background: $white;
    position: absolute;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    transform: inherit;
    box-shadow: $shadow-default;
    display: inline-flex;

    container-name: listing-window;
    container-type: inline-size;

    .vertical-nav {
      width: 30%;
      height: auto;
      background: $light-pastel-orange;
      border-radius: $radius-md 0 0 $radius-md;

      .list-section {
        height: calc(100% - 6.5rem);
        margin: $space-lg 0 0 $space-xl;

        .title {
          font-size: $font-size-xl;
          margin: 0 0 $space-sm 0;
        }

        .list {
          overflow-y: auto;
          height: 100%;

          .block {
            cursor: pointer;
            background: $medium-pastel-orange;
            border: $space-xs solid transparent;
            border-radius: $radius-md;
            margin: $space-xl $space-xl $space-xl 0;
            padding: $space-lg;

            &:hover,
            &.active {
              transition: background $timer-fast;
              background:
                linear-gradient($medium-pastel-orange, $medium-pastel-orange) padding-box,
                linear-gradient(
                    45deg,
                    $pastel-orange 0% 50%,
                    $pastel-red 50% 60%,
                    $pastel-green 60% 70%,
                    $pastel-blue-gray 70% 80%,
                    $pastel-medium-gray 80% 90%,
                    $pastel-light-gray 90% 100%
                  )
                  border-box;
              color: $medium-gray;
            }
          }
        }
      }
    }

    .details {
      width: 70%;
      height: 100%;
      padding: $space-xl;
      overflow-y: auto;
    }
  }
}

// $screen-max-md < width > $screen-max-lg
@container listing-window (min-width: 576px) and (max-width: 991px) {
  :host {
    .window {
      .vertical-nav {
        width: 45%;
      }
    }
  }
}

@media (max-width: $screen-max-md) {
  :host {
    .window {
      display: flex;
      flex-direction: column;
      height: 100%;

      .vertical-nav,
      .details {
        width: 100%;
      }

      .vertical-nav {
        border-radius: $radius-md;
        box-shadow: $shadow-light;

        .list-section {
          max-height: 15rem;
          overflow: scroll;

          .title {
            margin: 0;
          }
        }
      }
    }
  }
}
