<div class="header" [ngClass]="backgroundColor()">
  <button
    aria-label="close"
    class="window-action red"
    tabindex="0"
    type="button"
    (click)="onClose()"
    (keydown.enter)="onClose()"
  ></button>
  <button
    aria-label="reduce"
    class="window-action orange"
    tabindex="0"
    type="button"
    (click)="onReduce()"
    (keydown.arrowDown)="onReduce()"
  ></button>
  <button
    aria-label="fullscreen"
    class="window-action green"
    tabindex="0"
    type="button"
    (click)="onFullscreen()"
    (keydown.arrowUp)="onFullscreen()"
  ></button>
</div>
