@use '../../../../assets/styles/index' as *;

.header {
  border-radius: $radius-md $radius-md 0 0;
  height: $window-header-height;
  width: 100%;

  &.GREY {
    background: $gray-lighter;

    .window-action {
    }
  }

  &.TRANSPARENT {
    background: transparent;
  }

  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  .btn-container {
    margin-top: $space-xs;

    .window-action {
      height: $size-sm;
      width: $size-sm;
      margin-right: $space-sm;
      border-radius: $radius-full;
      cursor: pointer;
      border: none;

      &:first-child {
        margin-left: $space-lg;
      }

      &.red {
        background-color: $os-red;
      }

      &.orange {
        background-color: $os-orange;
      }

      &.green {
        background-color: $os-green;
      }

      &:hover {
        transform: scale(110%);
      }
    }
  }

  .title {
    margin: 0 auto;

    p {
      color: white;
      font-weight: 500;
      padding: 0;
      margin: 0;
    }
  }
}
