@use '../../../../assets/styles/index' as *;

:host {
  box-shadow: $shadow-light-bottom;
  z-index: 2;

  .header {
    border-radius: $radius-md $radius-md 0 0;
    height: $window-header-height;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: -1px;
    cursor: pointer;

    &.grey {
      background: $medium-dark-gray;
    }

    &.transparent {
      background: transparent;
    }

    .btn-container {
      margin-top: $space-xs;
      grid-column: 1;
      justify-self: start;
      width: auto;

      .window-action {
        height: $size-sm;
        width: $size-sm;
        margin-right: $space-sm;
        border-radius: $radius-half-full;
        cursor: pointer;
        border: none;
        position: relative;

        img {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          min-width: $space-sm;
          min-height: $space-sm;
          opacity: 0.5;
        }

        &:first-child {
          margin-left: $space-lg;
        }

        &.red {
          background-color: $os-red;
        }

        &.orange {
          background-color: $os-orange;
        }

        &.green {
          background-color: $os-green;
        }

        &:hover {
          transform: scale(110%);
          transition: transform $timer-fast;

          img {
            display: block;
          }
        }
      }
    }

    .title {
      margin: 0 auto;
      grid-column: 2;
      text-align: center;

      p {
        color: $white;
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
    }
  }

  hr {
    height: $space-md;
    border: none;
    margin: 0;
    width: 100%;

    &.orange {
      background: $pastel-orange;
    }

    &.green {
      background: $pastel-green;
    }

    &.red {
      background: $pastel-red;
    }

    &.rainbow {
      background: linear-gradient(
        45deg,
        $pastel-red 0%,
        $pastel-red 33.3%,
        $pastel-orange 33.3%,
        $pastel-orange 66.6%,
        $pastel-green 66.6%,
        $pastel-green 100%
      );
    }
  }
}
