<div cdkDragHandle class="header" [ngClass]="backgroundColor()" (dblclick)="onFullscreen()">
  <section class="btn-container">
    <button
      aria-label="close"
      class="window-action red"
      tabindex="0"
      type="button"
      (click)="onClose()"
      (keydown.enter)="onClose()"
    >
      <img alt="close" src="../../../../../public/icons/close.svg" />
    </button>
    <button
      aria-label="reduce"
      class="window-action orange"
      tabindex="0"
      type="button"
      (click)="onReduce()"
      (keydown.arrowDown)="onReduce()"
    >
      <img alt="reduce" src="../../../../../public/icons/reduce.svg" />
    </button>
    <button
      aria-label="fullscreen"
      class="window-action green"
      tabindex="0"
      type="button"
      [disabled]="disableFullscreen()"
      (click)="onFullscreen()"
      (keydown.arrowUp)="onFullscreen()"
    >
      @if (isFullscreen()) {
      <img alt="min" src="../../../../../public/icons/minimize-left.svg" />
      } @else {
      <img alt="max" src="../../../../../public/icons/maximize-left.svg" />
      }
    </button>
  </section>
  <section class="title">
    @if (title()) {
    <p>{{ title() }}</p>
    }
  </section>
</div>

@if (color()) {
<hr [ngClass]="color()" />
}
