@use '../../../../assets/styles/index' as *;

:host {
  .window {
    height: inherit;
    width: inherit;
    min-height: 30%;
    min-width: 30%;
    border-radius: $radius-md;
    z-index: inherit;
    background: $white-translucent;
    position: absolute;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    transform: inherit;
    box-shadow: $shadow-default;

    .content {
      width: 100%;
      height: calc(100% - #{$window-header-height});
      overflow-y: auto;
    }
  }
}
