@use '../../../../assets/styles/index' as *;

:host {
  .window {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    min-width: 12rem;
    max-height: 100%;
    border-radius: $radius-md;
    z-index: inherit;
    background: $white;
    position: absolute;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    transform: inherit;
    box-shadow: $shadow-default;

    .content {
      width: 100%;
      flex: 1;
      overflow-y: auto;
    }
  }
}
