@use '../../../../assets/styles/index' as *;

:host {
  .window {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    min-width: 12rem;
    max-height: 100%;
    border-radius: $radius-md;
    z-index: inherit;
    background: $white;
    position: absolute;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    transform: inherit;
    box-shadow: $shadow-default;

    .content {
      width: 100%;
      flex: 1;
      overflow-y: auto;

      hr {
        height: $space-md;
        border: none;
        margin: 0;

        &.orange {
          background: $pastel-orange;
        }

        &.green {
          background: $pastel-green;
        }

        &.red {
          background: $pastel-red;
        }

        &.rainbow {
          background: linear-gradient(
            45deg,
            $pastel-red 0%,
            $pastel-red 33.3%,
            $pastel-orange 33.3%,
            $pastel-orange 66.6%,
            $pastel-green 66.6%,
            $pastel-green 100%
          );
        }
      }
    }
  }
}
