<section class="logo"><img src="assets/logo/logo.svg" alt="BenB-Code"></section>
<!--<section class="title">Nothin for now</section>-->
<section class="navigation">
  <article class="nav">

    <a class="button" href="#home">Accueil</a>
    <a class="button" href="#technical">Technologies</a>
    <a class="button" href="#experiences">Expériences</a>
    <a class="button" href="#projects">Projets</a>
    <a class="button" href="#contact">Contact</a>


  </article>
  <article class="i18n">
    <button>FR</button>
    /
    <button>EN</button>
  </article>
</section>
