@use '../../../../public/styles/index' as *;

:host {
  app-listing-window {
    .card {
      .red {
        color: $red;
      }

      .italic {
        font-style: italic;
      }

      h3 {
        font-size: $font-size-lg;
      }

      h3,
      h4,
      p {
        margin: 0 0 $space-xs 0;
        align-self: flex-start;
        position: relative;

        &:last-child {
          margin: 0;
        }
      }

      article {
        margin-top: $space-md;
        margin-left: $space-sm;
        padding-left: $space-sm;
        border-radius: $space-xs 0 0 $space-xs;
        border-left: $space-xs solid $pastel-red;

        .date {
          font-weight: $font-weight-medium;
        }

        h4 {
          font-size: $font-size-md;
        }
      }
    }
  }
}
