@use '../assets/styles/index' as *;

:host {
  app-header-bar {
    height: $header-height;
    z-index: 99999;
  }

  .global-content {
    height: calc(100% - #{$space-sm} - #{$header-height} - #{$space-sm});
    position: relative;
    top: calc(#{$space-sm} + #{$header-height});
    overflow: visible;

    app-home,
    app-contact,
    app-experiences,
    app-projects {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $space-4xl + $space-sm;
    }
  }

  app-app-bar {
    height: $app-bar-height;
    z-index: 99999;
  }

  #bg-logo {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translateY(-50%);
    width: 30%;
    max-width: 15rem;
    min-width: 7rem;
    height: auto;
    min-height: 30%;
    opacity: 1;
    pointer-events: none;
    z-index: -999;
  }
}
