@use '../../../../public/styles/index' as *;

:host {
  width: fit-content;
  padding: $space-sm;
  border-radius: $radius-md;
  background: $white-super-translucent;
  box-shadow: $shadow-default;
  position: fixed;
  bottom: $space-sm;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .divider {
    width: 0.1rem;
    height: $size-2xl;
    margin: 0 $space-md 0 $space-xs;
    border-radius: $radius-md;
    background: $blue-gray;
  }

  .el {
    height: $size-xl;
    width: $size-xl;
    margin: 0 $space-sm $space-sm 0;
    position: relative;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;

    &:hover {
      transform: scale(105%) translateY(-0.1rem);
      transition: transform $timer-fast;
    }

    &.no-bg {
      background: none;

      img {
        background: none;
      }
    }

    img {
      height: auto;
      width: 100%;
      background: none;
      border-radius: $radius-md;
    }

    &:first-child {
      margin-left: $space-xs;
    }

    &:last-child {
      margin-right: $space-xs;
    }

    .active-dot {
      position: absolute;
      bottom: -0.55rem;
      left: 0;
      right: 0;
      margin: auto;
      background: $blue-gray;
      border-radius: $radius-full;
      height: $size-xs;
      width: $size-xs;
    }
  }
}

@media (max-width: $screen-max-sm) {
  :host {
    width: 100%;

    .el {
      .active-dot {
        bottom: -$space-sm;
      }
    }
  }
}
