@use '../../../styles/index' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: $space-xl;

  .placeholder-message-container {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $dark-gray;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }
}
