@if (contactWindow$ | async; as contactWindow) { @if (contactWindow.status !== CLOSED) {
<app-content-window
  appWindowActions
  title="Contact"
  [class.active]="contactWindow.isActive"
  [class.maximized]="contactWindow.status === MAXIMIZED"
  [class.minimized]="contactWindow.status === MINIMIZED"
  [disableFullscreen]="contactWindow?.disableFullscreen === true"
  [style.height]="contactWindow.size?.height"
  [style.left]="contactWindow.position?.x"
  [style.top]="contactWindow.position?.y"
  [style.transform]="contactWindow.position?.transform"
  [style.width]="contactWindow.size?.width"
  [style.z-index]="contactWindow.zIndex"
  [windowId]="CONTACT"
>
  @if (contactsService.isLoading()) {
  <app-spinner />
  } @else if (contactsService.shouldDisplayPlaceholder()) {
  <app-placeholder-text [textContent]="contactsService.placeholder() || ''" />
  } @else {
  <section>
    <p class="description">Feel free to contact me with any of this ways.</p>
    <article>
      @if (contactsService.isLoading()) {
      <app-spinner />
      } @else if (contactsService.shouldDisplayPlaceholder()) {
      <div class="message-container">
        <p>{{ contactsService.placeholder() }}</p>
      </div>
      } @else { @for (contactMethod of contactsService.contacts(); track contactMethod.name) {
      <section class="btn-container">
        <button
          type="button"
          (click)="navigationService.redirect(contactMethod.url)"
          (keydown.enter)="navigationService.redirect(contactMethod.url)"
        >
          <img [alt]="contactMethod.alt" [src]="contactMethod.logo" />
        </button>
        <p>{{ contactMethod.name }}</p>
      </section>
      } }
    </article>
  </section>
  }
</app-content-window>
} }
