@if (homeWindow$ | async; as homeWindow) { @if (homeWindow.status !== CLOSED) {
<app-content-window
  appWindowActions
  title="Home"
  [class.active]="homeWindow.isActive"
  [class.maximized]="homeWindow.status === MAXIMIZED"
  [class.minimized]="homeWindow.status === MINIMIZED"
  [disableFullscreen]="homeWindow?.disableFullscreen === true"
  [style.height]="homeWindow.size?.height"
  [style.left]="homeWindow.position?.x"
  [style.top]="homeWindow.position?.y"
  [style.transform]="homeWindow.position?.transform"
  [style.width]="homeWindow.size?.width"
  [style.z-index]="homeWindow.zIndex"
  [windowId]="HOME"
>
  <article>
    <section class="description">
      <h1>Hi</h1>
      <h3>I'm <span class="name">Benjamin</span>, a <span class="skill">fullstack</span> web developer</h3>

      <p class="intro">
        I design and build <strong>robust, scalable web applications</strong> with <strong>Angular & NestJS.</strong>
      </p>

      <p>
        Specialized in <strong>Angular</strong> for several years, I bring not only technical expertise but also
        <strong>clear communication</strong> and a <strong>genuine team spirit</strong> that makes collaboration smooth
        and efficient.
      </p>

      <p class="highlight">
        My signature ? Maintainable code, rapid integration, and positive energy that moves projects forward.
      </p>

      <p class="cta">
        Discover my
        <a
          tabindex="0"
          (click)="open(PROJECTS); $event.stopPropagation()"
          (keydown.enter)="open(PROJECTS); $event.stopPropagation()"
          >projects</a
        >
        and
        <a
          tabindex="0"
          (click)="open(EXPERIENCES); $event.stopPropagation()"
          (keydown.enter)="open(EXPERIENCES); $event.stopPropagation()"
          >experiences</a
        >, or
        <a
          tabindex="0"
          (click)="open(CONTACT); $event.stopPropagation()"
          (keydown.enter)="open(CONTACT); $event.stopPropagation()"
          >let's connect</a
        >.
      </p>

      <p class="italic">Optimal experience designed for desktop – explore it like you would on your computer.</p>
    </section>
    <section class="picture">
      <div class="img-container">
        <img alt="Benjamin Bats" src="assets/images/me.jpg" />
      </div>
    </section>
  </article>
</app-content-window>
} }
