@use '../../../assets/styles/index' as *;

:host {
  app-content-window {
    article {
      padding: $space-2xl;
      width: 100%;
      display: inline-flex;

      .description {
        width: 70%;

        h3 {
          font-weight: $font-weight-extra-light;
          margin: 0;
        }
      }

      .picture {
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto $space-3xl;

        .img-container {
          width: 20rem;
          height: 20rem;
          border: 1rem solid $accent-orange-strong;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 300%;
            width: auto;
            margin-bottom: 30%;
          }
        }
      }
    }
  }
}
