@use '../../../../assets/styles/index' as *;

:host {
  border-radius: 0.5rem;
  background: $light-grey;
  padding: $space-xs $space-sm;
  margin: 0 $space-xs;
  font-size: $font-size-xs;
  opacity: 1;
}
