@use '../../../../assets/styles/index' as *;

div {
  border-radius: 0.5rem;
  padding: $space-xs $space-sm;
  margin: 0 $space-xs;
  font-size: $font-size-xs;
  opacity: 1;

  &.grey {
    background: $light-grey;
  }

  &.orange {
    background: $accent-orange-strong;
  }

  &.red {
    background: $accent-red-strong;
  }

  &.green {
    background: $accent-green-strong;
  }
}
