@use '../../../../../public/styles/index' as *;

div {
  border-radius: 0.5rem;
  padding: $space-xs $space-sm;
  margin: $space-xs;
  font-size: $font-size-xs;
  opacity: 1;

  &.grey {
    background: $light-gray;
  }

  &.orange {
    background: $pastel-orange;
  }

  &.red {
    background: $pastel-red;
  }

  &.green {
    background: $pastel-green;
  }
}
