:host {
  justify-content: flex-end;
  height: 100vh;

  section {
    z-index: 1;
    margin-bottom: 4rem;

    article {
      display: inline-flex;
      font-family: Consolas;

      h1 {
        font-size: 8rem;
        margin-bottom: 0;

        .tild {
          color: #ff920a;
          margin-right: 1rem;
        }
      }

      .blink {
        display: flex;
        align-items: flex-end;
        background: rgba(49, 49, 49, .9);
        width: 1ch;
        margin-left: 2rem;
        margin-top: auto;
        margin-bottom: 2rem;
        height: 8rem;
        animation: blink step-end 1.5s infinite;
      }

    }

    h3 {
      font-size: 3rem;
      font-weight: 200;
      margin-top: 0;

      .name {
        font-weight: 500;
      }

      .skill {
        font-weight: 500;
        color: #9c35c3
      }
    }
  }
}
