@use '../../../../../public/styles/index' as *;

.disable-resize {
  display: none;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: $size-sm;
  height: $size-sm;
  background: transparent;
  cursor: nwse-resize;
  z-index: 10;

  &:hover {
    opacity: 0.8;
  }
}
