@use '../../../../../../public/styles/index' as *;

:host {
  display: flex;
  flex-direction: column;

  .infos {
    width: 100%;

    h4 {
      margin: $space-md 0;
      font-size: $font-size-lg;
      color: $orange;
    }

    p {
      margin: 0;
    }
  }

  .content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    h4 {
      font-size: $font-size-xl;
      margin-bottom: $space-md;
    }

    .actions {
      width: 68%;

      ul {
        margin: $space-sm 0;
        padding-left: $space-xl;
        list-style: square outside none;

        li {
          margin-bottom: $space-xs;
          line-height: 1.4;

          &::marker {
            color: $orange;
            transform: skewX(45deg);
          }
        }
      }
    }
  }

  .skills {
    width: 31%;

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: $space-sm;
      margin-top: $space-sm;
    }
  }

  .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: italic;
    color: $dark-gray;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
}

// $screen-max-lg
@container listing-window (max-width: 991px) {
  :host {
    .content {
      flex-direction: column;

      .actions,
      .skills {
        width: 100%;
      }
    }
  }
}
