/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/fonts';
@use 'assets/styles/animations';

* {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: white;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, .button, a {
  cursor: pointer;
}

