@use 'app/styles/index' as *;

* {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: $dark-gray;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

.minimized {
  visibility: hidden;
}

.italic {
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: $font-weight-extra-bold;
  color: $pastel-red;
  font-size: $font-size-lg;
  cursor: pointer;

  &:hover {
    color: $red;
    transition: color $timer-fast;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $space-lg auto;
}

h1 {
  font-size: $font-size-5xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

[disabled],
.disabled {
  cursor: default !important;
  opacity: 0.25;

  &:hover {
    transform: none !important;

    img {
      display: none !important;
    }
  }
}

button {
  cursor: pointer;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    $pastel-orange 0%,
    $pastel-orange 16.6%,
    $pastel-red 16.6%,
    $pastel-red 33.2%,
    $pastel-green 33.2%,
    $pastel-green 50%,
    $pastel-blue-gray 50%,
    $pastel-blue-gray 66.6%,
    $pastel-medium-gray 66.6%,
    $pastel-medium-gray 83.2%,
    $pastel-light-gray 83.2%,
    $pastel-light-gray 100%
  );
  position: relative;
}
