@if (projectsWindow$ | async; as projectsWindow) { @if (projectsWindow.status !== CLOSED) {
<app-content-window
  appWindowActions
  title="Projects"
  [class.active]="projectsWindow.isActive"
  [class.maximized]="projectsWindow.status === MAXIMIZED"
  [class.minimized]="projectsWindow.status === MINIMIZED"
  [color]="GREEN"
  [disableDrag]="projectsWindow.status !== OPEN"
  [disableFullscreen]="projectsWindow?.disableFullscreen === true"
  [style.height]="projectsWindow.size?.height"
  [style.left]="projectsWindow.position?.x"
  [style.top]="projectsWindow.position?.y"
  [style.width]="projectsWindow.size?.width"
  [style.z-index]="projectsWindow.zIndex"
  [windowId]="PROJECTS"
>
  @if (projectsService.isLoading()) {
  <app-spinner />
  } @else if (projectsService.shouldDisplayPlaceholder()) {
  <app-placeholder-text [textContent]="projectsService.placeholder() || ''" />
  } @else {
  <article>
    <section class="title">
      <hr />
      <h4>Personals projects and repositories</h4>
      <hr />
    </section>
    @for (project of projectsService.projects(); track $index) {
    <app-card>
      <h3>{{ project.name }}</h3>
      <p class="description">{{ project.description }}</p>
      <section class="technos-list">
        <p>Technologies:</p>
        <article class="bubbles">
          @if (project.technologies) { @for (techno of project.technologies; track $index) {
          <app-bubble [contentText]="techno" />
          } }
        </article>
      </section>
      <section class="redirect-container">
        @if (project.link) {
        <button
          type="button"
          (click)="navigationService.redirect(project.link.url); $event.stopPropagation()"
          (keydown.enter)="navigationService.redirect(project.link.url); $event.stopPropagation()"
        >
          Visit {{ project.link.name }}
        </button>
        }
      </section>
    </app-card>
    }
  </article>

  }
</app-content-window>
} }
