$blue: #3a86ff;
$turquoise: #00b4d8;
$green: #80ed99;
$orange: #ff9f1c;
$salmon: #ffcea8;
$white: #fdfdfd;
$dark-grey: #313131;

$system-accent: #53676c;
$system-white: white;
$gray-translucent: rgba(100, 100, 100, 0.5);
$gray-translucent-dark: rgba(100, 100, 100, 0.9);
$gray-dark: rgba(100, 100, 100);
$gray-lighter: rgba(110, 110, 110);
$white-translucent: rgba(255, 255, 255, 0.95);
$white-translucent-light: rgba(255, 255, 255, 0.25);

$gradient-orange: rgba(255, 167, 59, 0.75);
$gradient-red: rgba(254, 112, 76, 0.75);
$gradient-green-alt: rgba(95, 211, 141, 0.75);
$gradient-gray: rgba(83, 103, 108, 0.75);
$gradient-light-gray: rgba(209, 209, 209, 0.75);
$gradient-medium-gray: rgba(179, 179, 179, 0.75);

$accent-orange-light: rgba(255, 167, 59, 0.25);
$accent-orange-medium: rgba(255, 167, 59, 0.5);
$accent-orange-strong: rgba(255, 167, 59, 0.75);
$accent-orange-full: rgba(255, 167, 59, 0.9);

$accent-green-light: rgba(95, 211, 141, 0.25);
$accent-green-medium: rgba(95, 211, 141, 0.5);
$accent-green-strong: rgba(95, 211, 141, 0.75);
$accent-green-full: rgba(95, 211, 141, 0.9);

$accent-red-light: rgba(254, 112, 76, 0.25);
$accent-red-medium: rgba(254, 112, 76, 0.5);
$accent-red-strong: rgba(254, 112, 76, 0.75);
$accent-red-full: rgba(254, 112, 76, 0.9);

$os-red: #ff605c;
$os-orange: #ffbd44;
$os-green: #00ca4e;
