$white: #fafafa;
$orange: #ffa73b;
$red: #fe704c;
$green: #37c870;
$blue-gray: #53676c;
$dark-gray: #5a5a5a;
$medium-dark-gray: #707070;
$medium-gray: #b3b3b3;
$light-gray: #d3d3d3;

$light-pastel-orange: #ffd49f;
$medium-pastel-orange: #ffca8b;
$pastel-orange: #ffc176;
$pastel-red: #fe9b82;
$pastel-green: #73d89b;
$pastel-blue-gray: #81989e;
$pastel-medium-gray: #cacaca;
$pastel-light-gray: #e0e0e0;

$os-red: #ff605c;
$os-orange: #ffbd44;
$os-green: #00ca4e;

$gray-translucent: rgba(100, 100, 100, 0.75);
$white-super-translucent: rgba(225, 225, 225, 0.25);
