$blue: #3A86FF;
$turquoise: #00B4D8;
$green: #80ED99;
$orange: #FF9F1C;
$salmon: #FFCEA8;
$white: #FDFDFD;
$dark-grey: #313131;

$system-accent: #53676C;
$system-white: white;
$gray-translucent: rgba(100, 100, 100, 0.5);
$gray-translucent-dark: rgba(100, 100, 100, 0.9);
$white-translucent: rgba(255, 255, 255, 0.95);
$white-translucent-light: rgba(255, 255, 255, 0.25);

$gradient-orange: rgba(255, 167, 59, 0.75);
$gradient-red: rgba(254, 112, 76, 0.75);
$gradient-green-alt: rgba(95, 211, 141, 0.75);
$gradient-gray: rgba(83, 103, 108, 0.75);
$gradient-light-gray: rgba(209, 209, 209, 0.75);
$gradient-medium-gray: rgba(179, 179, 179, 0.75);

$accent-orange-light: rgba(255, 167, 59, 0.25);
$accent-orange-medium: rgba(255, 167, 59, 0.5);
$accent-orange-strong: rgba(255, 167, 59, 0.75);
$accent-orange-full: rgba(255, 167, 59, 0.9);

$os-red: #FF605C;
$os-orange: #FFBD44;
$os-green: #00CA4E;
